@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  --bg-color: 43, 43, 50;
  --bg-color-darker: 27,27,30;
  --shadow-color: 15,15,25;
  --tx-color: 204, 204, 204;

  --icon-color: var(--tx-color);
  --status-color-green: 59,226,168;
  --status-color-red: 226,59,59;

  background-color: rgb(var(--bg-color));
  color: rgb(var(--tx-color));
}

body {
  margin: 0px;
  padding: 0px;
}
